<ion-header>
  <ion-navbar color="danger">
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <p>{{item.produto}}</p>
  </ion-navbar>
</ion-header>

<ion-content >

  <img src="http://www.multiofertas.com.br/multiofertas/fotos/produtos/{{item.foto_produto}}">






  <ion-list>
    <ion-item *ngFor="let oferta of ofertas">
      <ion-avatar item-left>
        <img src="http://www.multiofertas.com.br/multiofertas/fotos/estabelecimentos/{{oferta.logo | image}}">
      </ion-avatar>
        <h2 class="line-break"><strong>{{oferta.nome_fantasia}}</strong></h2>
      <ion-row>
        <ion-col col-7>
        <h4 class="linha">De: R$ </h4><h5 class="ofertaate linha"  ng-if="oferta.preco_de >= oferta.preco_por" class="hide"> {{oferta.preco_de}} </h5> Por R$ <h5 class=" ofertade linha"> {{oferta.preco_por}} </h5>
        </ion-col>

      </ion-row>
      <ion-col col-3><small class="ofertas">{{oferta.descricao}} </small></ion-col>
    </ion-item>
  </ion-list>

</ion-content>
