page-ofertas {

}


.line-break{
  overflow: inherit ;
  text-overflow: inherit ;
  white-space: normal;
}


.texto {

  font-family: 'Playfair Display', serif;
  color: #f53d3d;
  font-family: helvetica;
  font-style: normal;
  font-variant: normal;
  text-align: center;
  text-decoration: none;


}

.ofertade {
  font-family: 'Playfair Display', serif;
  font-family: helvetica;
  font-style: normal;
  text-align: center;
  text-decoration: none;

}

.ofertaate{
  font-family: 'Playfair Display', serif;
  color: #FF0000;
  font-family: helvetica;
  font-style: normal;
  text-align: center;
  text-decoration: none;

}

.ofertas{
  font-family: 'Playfair Display', serif;
  color: #C0C0C0;
  font-family: helvetica;
  font-style: normal;
  font-variant: normal;
  text-align: right;
  text-decoration: none;
  padding-right: 0px;

}

.linha {
  display: inline;
}
