page-ofertas {

}
.topo_bnt
{

  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  font-variant: normal;
  text-align: center;
  text-decoration: none;
  width: 45%;

}

.line-break{
  overflow: inherit ;
  text-overflow: inherit ;
  white-space: normal;
}

.topo
{
  background-color: #f53d3d;
  text-align: center;
  border-top: 2px solid;
  border-color: white;
}

.texto {

  font-family: 'Playfair Display', serif;
  color: #FFFFFF;
  font-family: helvetica;
  font-style: normal;
  font-variant: normal;
  text-align: center;
  text-decoration: none;


}
