page-campanhas {

}

.special {
    font-family: 'Playfair Display', serif;
    font-size: 1.5em;
    text-align: center;
    border: 2px solid #e5e4e2;
    padding: 0.5em;
    margin: 0 auto;
    margin-bottom: 2px;
}

.card-titulo
{

    background-color: #f53d3d;
    color: #FFFFFF;
    font-family: helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    font-variant: normal;
    text-align: left;
    text-decoration: none;
    text-shadow: 1px 2px 0px #B5B5B5;

}
