page-produto-detalhe {

  .card-background-page {

    ion-card {
      position: relative;
      text-align: center;
    }

    .card-title {
      position: absolute;
      top: 36%;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: #fff;
    }

    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 52%;
      width: 100%;
      color: #fff;
    }

  }

  .produto-detalhe-titulo
  {


    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    font-variant: normal;
    text-align: center;
    text-decoration: none;
    word-wrap: break-word;
    width: 100%;

  }

  .preco-detalhe-de{
    background-color: #FFFFFF;
    color: #999999;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    font-variant: normal;
    text-align: left;
    text-decoration: line-through;
  }

  .preco-detalhe-por{
    background-color: #FFFFFF;
    color: #3895FF;
    font-family: verdana;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    text-align: left;
    text-decoration: none;
  }

}
